.container{
    padding: 1rem 4rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 100px;
}
.chatWindow{
    display: flex;
    flex-direction: column;
}
.user{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.reply{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.footer{
    position: fixed;
    bottom: 0%;
    background-color: #000cb8;
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 1.5rem;
    width: 100%;
}
.inputCont{
    display: flex;
    flex-grow: 1;
}
.footer input{
    min-height: 50px;
    margin: 0 0.5rem;
    flex-grow: 1;
    font-size: 1rem;
    border: 0;
    border-radius: 10px;
    padding: 0 12px;
    background-color: #eaeef0;
}
.footer button{
    min-height: 50px;
    min-width: 80px;
    width: 7vw;
    background-color: #fff;
    border: none;
    font-weight: bold;
    color: #0f00e6;
    font-size: large;
    border: 1px solid rgb(15, 15, 15);
    align-items: center;
}
.footer svg{
    margin-top: 2px;
    padding-left: 2px;
}
.footer button:hover{
    background-color: #584cff;
    color: #fff;
}
@media screen and (max-width: 1024px) {
  .container{
    padding: 1rem 2rem;
    padding-bottom: 100px;
}
.footer{
    padding: 0.3rem 1rem;
}
}

@media screen and (max-width: 768px) {
  .container{
    padding: 1rem 1rem;
    padding-bottom: 80px;
}
.footer{
    padding: 0.5rem 0.5rem;
    
}
.footer input{
    height: 35px;
    margin: 0 0.2rem;
    padding: 0 4px;
}
.footer button{
    height: 35px;
    width: 7vw;
}
}