.container{
    background: #000cbb;
    color: azure;
    padding: 0% 2rem;
    display: flex;
    top: 0%;
    position: sticky;
}
.container div:first-child{
    padding: 5px;
}
.container div:last-child{
    font-size: large;
    font-weight: bold;
    padding:2px 5px;
    align-items: center;
    align-self: center;
}
.img{
    width: 50px;
    border-radius: 50%;
}

@media screen and (max-width: 1024px) {
.container{
    padding: 0% 1.5rem;
}
}

@media screen and (max-width: 768px) {
.container{
    padding: 0% 1rem;
}
.img{
    width: 40px;
    border-radius: 50%;
}
}